<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Top News</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" >Categories</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" >Search</a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="navbar-header navbar-right">
        <button class="btn btn-default" >
          GB
        </button>
        <button class="btn btn-default" >
          US
        </button>
      </div>
    </div>
  </div>
</div>
