<ul class="list-inline">
  <li class="list-group-item">
    <button type="button" class="btn btn-default" (click)="onClickLeft()" [disabled]="sliceIndexStart === 0">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
  </li>
  <li class="list-group-item" *ngFor="let article of slice">
    <app-category-thumbnail [article]="article"></app-category-thumbnail>
  </li>
  <li class="list-group-item">
    <button type="button" class="btn btn-default" (click)="onClickRight()" [disabled]="sliceIndexStart === 2">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
  </li>
</ul>

<!--
<div>
  <div class="col-md-1 my-auto">
    <div class="center-block">
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-align-left"></span>
      </button>
    </div>
  </div>
  <div class="col-md-3" *ngFor="let article of slice">
    <app-news-thumbnail [article]="article"></app-news-thumbnail>
  </div>
  <div class="col-md-1" style="min-height: 480px;">
    <div class="align-middle">
    I am groot
    </div>
  </div>
</div>
-->

